{% extends 'base.html.twig' %}

{% block body %}
    <h1>Opciones:</h1>
    <div><a href="{{ path('movements') }}">Movimientos</a></div>
    <div><a href="{{ path('invoices') }}">Facturas</a></div>
{% endblock %}